/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#content {
  background-color: #c2c7c2;
  width: 100%;
  height: 700px;
  text-align: center;
  padding: 10px;
}

#h1 {
  font-size: 70px;
  margin: 50px 0 10px;
}

#h2 {
  font-size: 35px;
  margin: 10px 0 10px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

#button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#h2:after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca{
  0%, 100%{
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#menu {
    text-align: center;
    background-color: rgb(37, 37, 39);
}

#menu ul {
    max-width: 800px;
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu ul li a:hover {
    background-color: rgb(24, 139, 233);
}

input[type=text], textarea, select {
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type=submit] {
   width: 15%;
   background-color: #4CAF50;
   color: white;
   padding: 14px 20px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
}

input[type=submit]:hover {
   background-color: #45a049;
}

#form {
   width: 50%;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
}

#subscripts {
   border-collapse: collapse;
   width: 50%;
}

#subscripts td, #subscripts th {
   border: 1px solid #ddd;
   padding: 8px;
}

#subscripts th {
   text-align: center;
   background-color: #04AA6D;
   color: white;
}
